작성 시 참고자료/PICK PILOT - 공정 전용 (Process Line) (15) (1).json
{
  "name": "PICK PILOT - 공정 전용 (Process Line)",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.rainforestapi.com/request",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "CB91132C93324730A4AC9ED7D0F1D49B"
            },
            {
              "name": "type",
              "value": "bestsellers"
            },
            {
              "name": "url",
              "value": "https://www.amazon.com/Best-Sellers-Robotic-Vacuums/zgbs/appliances/3743521"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4720,
        528
      ],
      "id": "7bd5996e-eecc-48e7-a0e9-350ce97c36b2",
      "name": "http robot",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.rainforestapi.com/request",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "CB91132C93324730A4AC9ED7D0F1D49B"
            },
            {
              "name": "type",
              "value": "bestsellers"
            },
            {
              "name": "url",
              "value": "https://www.amazon.com/Best-Sellers-Beauty-Personal-Care/zgbs/beauty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4736,
        720
      ],
      "id": "744fe076-f7fa-41b7-9610-dedb17fe301f",
      "name": "http beauty",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.amazon.com/Best-Sellers-Electronics-Earbud-Headphones/zgbs/electronics/172541",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "CB91132C93324730A4AC9ED7D0F1D49B"
            },
            {
              "name": "type",
              "value": "bestsellers"
            },
            {
              "name": "url",
              "value": "https://www.amazon.com/Best-Sellers-Electronics-Earbud-Headphones/zgbs/electronics/172541"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4736,
        912
      ],
      "id": "7993d365-6138-451e-baf6-1a3641477e66",
      "name": "http earbuds",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "bestsellers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4512,
        528
      ],
      "id": "1738e5bd-1ce6-446a-98ab-9bc0d3bc9bf0",
      "name": "Split Out",
      "retryOnFail": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "bestsellers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4464,
        752
      ],
      "id": "55977e04-367a-4861-a748-d81f0c6868e4",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "bestsellers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4464,
        896
      ],
      "id": "8132e33a-291f-49f9-ae43-20d55cdf9ac7",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y",
          "mode": "list",
          "cachedResultName": "input_queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asin": "={{ $json.asin }}",
            "status": "READY",
            "category": "Robotic Vacuums",
            "affiliate_url": "={{ $json.link.split('?')[0] }}?tag=pickpilot0108-20",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shorts_script",
              "displayName": "shorts_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pin_text",
              "displayName": "pin_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "affiliate_url",
              "displayName": "affiliate_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4288,
        528
      ],
      "id": "4bcc09fe-8efd-4083-8a46-5777169da99b",
      "name": "append robot",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eDREqnuNZr3y8UHK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y",
          "mode": "list",
          "cachedResultName": "input_queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asin": "={{ $json.asin }}",
            "status": "READY",
            "category": "beauty",
            "affiliate_url": "={{ $json.link.split('?')[0] }}?tag=pickpilot0108-20",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shorts_script",
              "displayName": "shorts_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pin_text",
              "displayName": "pin_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "affiliate_url",
              "displayName": "affiliate_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4256,
        752
      ],
      "id": "5d63ca95-d506-4868-8ff7-0957633a09f6",
      "name": "append beauty",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eDREqnuNZr3y8UHK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y",
          "mode": "list",
          "cachedResultName": "input_queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asin": "={{ $json.asin }}",
            "status": "READY",
            "category": "earbuds",
            "affiliate_url": "={{ $json.link.split('?')[0] }}?tag=pickpilot0108-20",
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shorts_script",
              "displayName": "shorts_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pin_text",
              "displayName": "pin_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "affiliate_url",
              "displayName": "affiliate_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4256,
        912
      ],
      "id": "a1330d0d-94a1-403b-adb6-66feef3d73a7",
      "name": "append earbuds",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eDREqnuNZr3y8UHK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## I생산라인 \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4624,
        1088
      ],
      "id": "7f988a59-67b7-41f1-b9d0-76fbf18b3fd6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## I공정라인 1단계  데이터 인입\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 176,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2976,
        1136
      ],
      "id": "31a6ebdb-0524-4368-a61c-95a2f8af4242",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -5168,
        864
      ],
      "id": "205fe0fe-d7f2-4ae9-a6ef-411a6cdeab22",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://storage.googleapis.com/upload/storage/v1/b/pickpilot-vault-01/o",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uploadType",
              "value": "media"
            },
            {
              "name": "name",
              "value": "={{ \n  (() => {\n    // 현재 처리 중인 순번(0, 1, 2)에 맞는 파서 노드의 데이터를 직접 집어옵니다.\n    const meta = $('Code in JavaScript1').all()[$itemIndex].json;\n    const folder = meta.target_filename.includes('.mp4') ? 'videos/' + $now.format('yyyyMMdd') + '/' : 'assets/images/' + meta.asin + '/';\n    return folder + meta.target_filename;\n  })()\n}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2144,
        1184
      ],
      "id": "b41e19ab-b6d3-4e40-a46b-3e00f00770ae",
      "name": "HTTP Request2",
      "alwaysOutputData": false,
      "credentials": {
        "googleApi": {
          "id": "qFmkXcpSZzKcTney",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8254978348",
        "text": "={{ $('Get row(s) in sheet').first().json.title }} - 유튜브/블로그 배포 완료!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -384,
        1168
      ],
      "id": "63a8dae5-99b3-41d5-86b0-e4068176ee70",
      "name": "Telegram Report",
      "webhookId": "485cb432-9890-4a2f-8057-3dcf541d48d6",
      "credentials": {
        "telegramApi": {
          "id": "KYFFy9U2A3RG9AtM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.rainforestapi.com/request",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "CB91132C93324730A4AC9ED7D0F1D49B"
            },
            {
              "name": "type",
              "value": "product"
            },
            {
              "name": "amazon_domain",
              "value": "amazon.com"
            },
            {
              "name": "asin",
              "value": "={{ $('Get row(s) in sheet').item.json.asin }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3568,
        976
      ],
      "id": "93a2233f-684a-4dff-b8fb-4becb564fbcb",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=# Role: PickPilot v9.0 CTO & Expert Tech Reviewer\n# Goal: Analyze Amazon product/review data to generate a Dual-Track Output: (1) YouTube Shorts Script and (2) Medium SEO Blog Article.\n\n# STRATEGIC CORE: \"The 3-Star Truth\"\n- Focus on the \"Hidden Flaws\" found in 3-star reviews to build extreme trust.\n- Provide a \"Better Alternative\" or \"Purchase Logic\" to guide users to the right choice.\n- ALL Call-to-Action (CTA) must point to: \"Check the full list and best deals in my Bio Link (ShopMy).\"\n\n# CRITICAL RULES:\n1. Product Identity: NEVER use generic terms. Use the exact [Product Title].\n2. Dual-Track Output: Generate both a 15s Video Script and a professional Blog Article in a single JSON.\n3. Language: Native US English only.\n4. Input Context: \n   - ASIN: {{ $json.product.asin }}\n   - Source URL: {{ $json.product.link }}\n   - Product Title: {{ $('Get row(s) in sheet').first().json.title }}\n\n# Output Schema (Strict JSON):\n{\n  \"shorts_script\": \"50-60 words. Start with a hook about a hidden flaw. High-energy, analytical tone. Ending: 'Check my Bio for the full analysis.'\",\n  \"medium_article\": {\n    \"title\": \"SEO-friendly title (e.g., Why I gave [Product] 3 stars...)\",\n    \"body\": \"Approx. 800 characters. Structure: Intro -> Deep dive into 3-star review flaws -> Comparison with competitors -> Final verdict with ShopMy link.\",\n    \"tags\": [\"TechReview\", \"AmazonFinds\", \"ProductFlaws\", \"SEO\"]\n  },\n  \"image_prompts\": [\n    \"Prompt 1: Natural smartphone-style shot of [Product Title] in a real-life messy room.\",\n    \"Prompt 2: Professional macro shot focusing on the build quality.\",\n    \"Prompt 3: Comparison shot showing [Product Title] next to a common competitor.\"\n  ]\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2848,
        880
      ],
      "id": "b7be6458-5b40-40ed-ac21-a05b61ab1e06",
      "name": "Message a model1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "NxjmPM2S6LxPKSF4",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y",
          "mode": "list",
          "cachedResultName": "input_queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "PROCESSING",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3936,
        976
      ],
      "id": "adf7af79-98e9-4cff-9eed-b5243132b00f",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eDREqnuNZr3y8UHK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $input.item.json.shorts_script }}",
        "voice": "nova",
        "options": {
          "response_format": "mp3"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2128,
        592
      ],
      "id": "0417e072-8983-44f2-9b50-d7d9a29d3685",
      "name": "OpenAI TTS1",
      "credentials": {
        "openAiApi": {
          "id": "IIZJJDRooX9xkhOX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\n\n/**\n * [PickPilot v10.5] FFmpeg 최종 가동 엔진\n * - Anti가 마운트한 /usr/bin/ffmpeg 경로를 직접 사용합니다.\n */\nreturn (async () => {\n  try {\n    const item = $input.first().json;\n    const dir = '/home/node/.n8n-files/pickpilot_data';\n    \n    // 1. 데이터 및 경로 추출\n    const imageFiles = [item.img1, item.img2, item.img3];\n    const rootFileName = item.root_fileName;\n    const audioPath = path.join(dir, `${rootFileName}.mp3`);\n    const outputPath = path.join(dir, `${rootFileName}_final.mp4`);\n\n    // 2. 파일 물리적 존재 확인 (에러 방어)\n    if (!fs.existsSync(audioPath)) {\n      throw new Error(`[오디오 누락] 파일이 없습니다: ${audioPath}`);\n    }\n    imageFiles.forEach((f, idx) => {\n      if (!f || !fs.existsSync(f)) {\n        throw new Error(`[이미지 ${idx+1} 누락] 경로 확인 필요: ${f}`);\n      }\n    });\n\n    // 3. FFmpeg 조립 명령 (15초 쇼츠 최적화: 4초/8초 오프셋 적용)\n    // -y: 덮어쓰기 허용 / -shortest: 오디오 길이에 맞춤\n    const command = `/usr/bin/ffmpeg -y \\\n    -loop 1 -t 5 -i \"${imageFiles[0]}\" \\\n    -loop 1 -t 5 -i \"${imageFiles[1]}\" \\\n    -loop 1 -t 5 -i \"${imageFiles[2]}\" \\\n    -i \"${audioPath}\" \\\n    -filter_complex \"[0:v][1:v]xfade=transition=fade:duration=1:offset=4[v1]; [v1][2:v]xfade=transition=fade:duration=1:offset=8,format=yuv420p[v]\" \\\n    -map \"[v]\" -map 3:a \\\n    -c:v libx264 -preset superfast -pix_fmt yuv420p -shortest \"${outputPath}\" 2>&1`;\n\n    // 4. 조립 실행\n    try {\n      execSync(command);\n    } catch (ffmpegErr) {\n      throw new Error(`[FFmpeg 조립 실패] 로그: ${ffmpegErr.stdout?.toString()}`);\n    }\n\n    // 5. 결과 반환 (이후 노드에서 이 경로를 사용해 업로드합니다)\n    return [{ \n      json: { \n        video_path: outputPath, \n        asin: item.asin, \n        root_fileName: rootFileName,\n        status: \"SUCCESS\",\n        message: \"영상 조립 완료!\" \n      } \n    }];\n  } catch (e) {\n    throw new Error(`[savevideo v10.5 Error] ${e.message}`);\n  }\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        1184
      ],
      "id": "986cd19f-0daa-4d32-8973-f5d3daf42db3",
      "name": "savevideo1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * [PickPilot v9.0] Dual-Track Data Parser (YouTube + Medium)\n * CTO Fix: 핀터레스트 로직 완전 폐기, Medium 아티클 데이터 패키징, ShopMy Kiosk 강제\n */\ntry {\n  const inputData = $input.first();\n  if (!inputData) throw new Error(\"입력 데이터가 없습니다.\");\n\n  const geminiOutput = inputData.json;\n\n  // 트래픽/할당량 초과 에러 방어\n  if (geminiOutput.error) {\n    const errMsg = geminiOutput.error.message || \"\";\n    if (errMsg.includes(\"too many requests\")) {\n      throw new Error(\"⚠️ [트래픽 초과] 제미나이 API 대기열 초과. 잠시 후 재시도 필요.\");\n    }\n    throw new Error(`Gemini API Error: ${errMsg}`);\n  }\n\n  // JSON 클렌징 및 파싱\n  let content = geminiOutput.text || (geminiOutput.content?.parts?.[0]?.text) || \"\";\n  let cleaned = content.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  let parsed = JSON.parse(cleaned);\n  if (Array.isArray(parsed)) parsed = parsed[0];\n\n  // 절대 경로를 통한 시트 원본 데이터 참조\n  const sheetData = $('Get row(s) in sheet').first().json;\n  const asin = sheetData.asin || \"UNKNOWN\";\n  const productTitle = sheetData.title || asin;\n  const today = new Date().toISOString().split('T')[0].replace(/-/g, '');\n  \n  // 🔥 핵심: 모든 트래픽을 Kiosk로 집중시키는 ShopMy 하드코딩\n  const shopMyLink = \"https://shopmy.us/PickPilot\"; \n\n  // 이미지 프롬프트 검증 (오직 영상용 3장만 처리)\n  const imagePrompts = parsed.image_prompts || [];\n  if (imagePrompts.length !== 3) {\n    throw new Error(`이미지 프롬프트 개수 불일치. 현재: ${imagePrompts.length}장 (3장 필수)`);\n  }\n\n  // 이미지 생성 노드로 보낼 3개의 아이템(배열)으로 분할 리턴\n  return imagePrompts.map((prompt, index) => {\n    const rootName = `${today}_YT_${asin}`;\n    return {\n      json: {\n        output_type: \"VIDEO_SHORT\", // 핀터레스트(PIN) 타입 원천 차단\n        prompt: prompt.replace(/\\[Product Title\\]/gi, productTitle),\n        index: index + 1,\n        asin: asin,\n        target_filename: `${rootName}_${(index + 1).toString().padStart(2, '0')}.png`,\n        root_fileName: rootName,\n        \n        // 1. YouTube Shorts용 데이터 패키징\n        shorts_script: parsed.shorts_script || \"\",\n        \n        // 2. Medium Blog용 데이터 패키징 (이후 미디엄 노드에서 이 데이터를 당겨 씁니다)\n        medium_title: parsed.medium_article?.title || \"\",\n        medium_body: parsed.medium_article?.body || \"\",\n        medium_tags: parsed.medium_article?.tags || [],\n        \n        // 3. 통합 CTA 랜딩 주소\n        shopmy_url: shopMyLink,\n        \n        // 데이터 추적용 원본 타이틀\n        product_title: productTitle\n      }\n    };\n  });\n\n} catch (e) {\n  throw new Error(`[CTO v9.0 Parser Fix] 파싱 실패: ${e.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        704
      ],
      "id": "3b3c3624-9d53-4527-a109-4efcac685e64",
      "name": "Code in JavaScript1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3424,
        192
      ],
      "id": "682fea93-4d3c-45ff-ab7c-e7c0a7a32153",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -2320,
        416
      ],
      "id": "db5fa55c-f748-4097-8714-ceb71e1097c2",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "NxjmPM2S6LxPKSF4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\n\n// [PickPilot v9.1] Stitch Engine - Path Fix & Lineage Protection\nreturn (async () => {\n  try {\n    const items = $input.all();\n    const returnItems = [];\n\n    for (const item of items) {\n      const json = item.json;\n      const savedPath = json.saved_path;\n      const templateType = json.template_type || 'None'; \n      \n      // 파일 존재 여부 확인\n      if (!savedPath || !fs.existsSync(savedPath)) {\n        returnItems.push({ json: { ...json, stitch_status: \"Skipped (No File)\" } });\n        continue;\n      }\n\n      // 1. 템플릿 파일 결정\n      let templateFile = '';\n      if (templateType === 'A') templateFile = 'VIDEO_A_hook_performance.png';\n      else if (templateType === 'B') templateFile = 'PIN_B_buyers_guide_readnow.png';\n      else if (templateType === 'C') templateFile = 'VIDEO_C_split_antidata.png';\n\n      // [CTO FIX] 템플릿이 없는 경우: 선언되지 않은 outputPath 대신 원본 savedPath를 반환\n      if (!templateFile) {\n        returnItems.push({ \n          json: { \n            ...json, \n            saved_path: savedPath, // 원본 경로 유지\n            stitch_status: \"Success (No Template)\",\n            asin: json.asin, // 족보 유지\n            target_filename: json.target_filename // 족보 유지\n          } \n        });\n        continue;\n      }\n\n      const templatePath = `/home/node/.n8n/assets/${templateFile}`;\n      if (!fs.existsSync(templatePath)) {\n         returnItems.push({ json: { ...json, saved_path: savedPath, stitch_status: `Error: Template ${templateFile} not found` } });\n         continue;\n      }\n\n      // 2. FFmpeg 실행을 위한 경로 설정\n      const dir = path.dirname(savedPath);\n      const ext = path.extname(savedPath);\n      const baseName = path.basename(savedPath, ext);\n      const outputPath = path.join(dir, `${baseName}_stitched${ext}`);\n\n      // [CTO FIX] Overlay 명령 실행\n      const cmd = `ffmpeg -y -i \"${savedPath}\" -i \"${templatePath}\" -filter_complex \"overlay=0:0\" \"${outputPath}\"`;\n      \n      try {\n        execSync(cmd);\n        returnItems.push({ \n          json: { \n            ...json, \n            saved_path: outputPath, \n            original_path: savedPath, \n            stitch_status: \"Success\",\n            asin: json.asin, // 족보 유지\n            target_filename: json.target_filename // 족보 유지\n          } \n        });\n      } catch (e) {\n        returnItems.push({ \n          json: { \n            ...json, \n            saved_path: savedPath, \n            stitch_status: `FFmpeg Error: ${e.message}`,\n            asin: json.asin,\n            target_filename: json.target_filename\n          } \n        });\n      }\n    }\n    return returnItems;\n  } catch (e) {\n    throw new Error(`[Stitch Engine v9.1 Error] ${e.message}`);\n  }\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        432
      ],
      "id": "5233d002-cd80-4dce-a7ef-76622c5611a1",
      "name": "Stitch Engine1"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ ($('Get row(s) in sheet').first().json.title + \" | Honest Review #AmazonFinds\").substring(0, 100) }}",
        "regionCode": "US",
        "categoryId": "=28",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -752,
        1152
      ],
      "id": "c536e434-da64-4937-bf70-7f3240fa745f",
      "name": "YouTube Upload1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "WAoIcFtWcXHzGNBP",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "21ef2e6e-1efd-49a3-84a7-a2e6a3aa5732",
      "name": "Merge Assets",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1744,
        432
      ],
      "notes": "이미지+오디오 데이터 병합 (필수)"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\n// [PickPilot v10.0] 다중 아이템 유실 방지 엔진 (3개 모두 보존)\nconst items = $input.all();\nconst metadataItems = $('Code in JavaScript1').all();\nconst results = [];\n\n// 들어온 아이템 개수(3개)만큼 반복해서 모두 저장합니다.\nfor (let i = 0; i < items.length; i++) {\n  try {\n    const meta = metadataItems[i].json;\n    const fileName = meta.target_filename;\n    \n    if (!fileName) throw new Error(\"target_filename을 찾을 수 없습니다.\");\n\n    const dirPath = '/home/node/.n8n-files/pickpilot_data'; \n    const filePath = path.join(dirPath, fileName);\n\n    let binaryData;\n    try {\n      // i번째 아이템의 바이너리 데이터를 정확히 추출\n      binaryData = await this.helpers.getBinaryDataBuffer(i, 'image');\n    } catch (e) {\n      binaryData = await this.helpers.getBinaryDataBuffer(i, 'data');\n    }\n\n    if (!binaryData) throw new Error(\"이미지 바이너리가 비어있습니다.\");\n    \n    if (!fs.existsSync(dirPath)) fs.mkdirSync(dirPath, { recursive: true });\n    fs.writeFileSync(filePath, binaryData);\n\n    // 저장 성공한 데이터를 results 바구니에 차곡차곡 담습니다.\n    results.push({ \n      json: { \n        ...meta, \n        saved_path: filePath, \n        status: \"SUCCESS\" \n      } \n    });\n  } catch (error) {\n    throw new Error(`[saveimage item ${i}] ${error.message}`);\n  }\n}\n\n// 3개가 꽉 찬 바구니를 통째로 다음 노드로 넘깁니다!\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        400
      ],
      "id": "342bc31a-1d39-46da-8ba1-69f2bd1ada36",
      "name": "saveimage"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y",
          "mode": "list",
          "cachedResultName": "input_queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jLy_cXQhkz5PFm68k0YaCtErJ9u86Mu4PFly-mtMT_Y/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "READY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3328,
        416
      ],
      "id": "452ffeef-2cd7-4811-bc68-79809b6dd734",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eDREqnuNZr3y8UHK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2880,
        416
      ],
      "id": "0e60e8e5-d4aa-4f23-aa82-2189fba5a303",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a424f183-0cb3-4e10-a0bb-ddfdea7ba315",
              "name": "asin",
              "value": "={{ $json.asin }}",
              "type": "string"
            },
            {
              "id": "2dab1a6c-134e-4cb3-92d2-e7a11dfa8f24",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "string"
            },
            {
              "id": "9a5f236a-594a-4129-a0b3-1258bad30618",
              "name": "today",
              "value": "={{ $now.format('yyyyMMdd') }}",
              "type": "string"
            },
            {
              "id": "8f1f8331-9320-4dbb-a40a-46424da9359c",
              "name": "fileName",
              "value": "={{ $now.format('yyyyMMdd') }}_YT_{{ $json.asin }}_01",
              "type": "string"
            },
            {
              "id": "3d40e2e9-706c-4b54-9277-11b6c7e39cec",
              "name": "affiliate_url",
              "value": "={{ $('Get row(s) in sheet').first().json.affiliate_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        416
      ],
      "id": "00066d8b-b4e2-4929-ae4d-9315d3949021",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// [PickPilot v10.1] URL 생성기 - 로컬 경로 보존 엔진\nconst metadataItems = $('Code in JavaScript1').all();\nconst saveImageItems = $('saveimage').all(); // saveimage 노드의 데이터를 가져옵니다.\n\nreturn $input.all().map((item, index) => {\n  const gcsResponse = item.json;\n  const metadata = metadataItems[index].json;\n  const savedInfo = saveImageItems[index].json; // 저장된 로컬 경로 정보\n\n  return {\n    json: {\n      ...gcsResponse,\n      asin: metadata.asin,\n      output_type: metadata.output_type,\n      index: metadata.index,\n      product_title: metadata.product_title,\n      medium_title: metadata.medium_title,\n      medium_body: metadata.medium_body,\n      root_fileName: metadata.root_fileName,\n      shopmy_url: metadata.shopmy_url,\n      // ★핵심: Summarize 노드가 찾을 수 있도록 로컬 경로를 전달합니다.\n      saved_path: savedInfo.saved_path, \n      public_url: `https://storage.googleapis.com/pickpilot-vault-01/${gcsResponse.name}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        1168
      ],
      "id": "6549d4e5-d0fd-4b2a-8400-8238872bd5bd",
      "name": "URL 생성기"
    },
    {
      "parameters": {
        "jsCode": "/**\n * [PickPilot v10.8] 데이터 보정 키트 (Multi-Item Refinement)\n * Merge Multiplex 이후의 데이터를 정제하고 핀터레스트/영상 경로를 최종 확정합니다.\n */\n\nconst allItems = $input.all();\nconst results = [];\n\nfor (const item of allItems) {\n    const json = item.json;\n    const binary = item.binary || {};\n\n    // 1. 필수 값 복구 (Merge 과정에서 누락될 수 있는 데이터)\n    const outputType = json.output_type || \"VIDEO_SHORT\";\n    const asin = json.asin || \"UNKNOWN\";\n    \n    // 2. 핀터레스트용 데이터는 별도 보정 없이 그대로 통과\n    if (outputType === \"PINTEREST_PIN\") {\n        results.push(item);\n        continue;\n    }\n\n    // 3. 영상용 데이터는 영상 합성에 필요한 구조로 정규화\n    results.push({\n        json: {\n            ...json,\n            asin: asin,\n            output_type: \"VIDEO_SHORT\",\n            // 영상 인코딩 노드가 인식할 수 있는 파일명 구조 확정\n            final_path: json.target_filename || `${asin}_video_frame.png`\n        },\n        binary: binary\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        416
      ],
      "id": "bde81c56-62c7-4932-a1cb-11b8a0da4b84",
      "name": "데이터 보정 키트"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.saved_path }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -768,
        576
      ],
      "id": "302004e9-8277-4ee1-b194-3eccfb6cd6ad",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3104,
        976
      ],
      "id": "551d9866-ed7a-45f5-91bd-4580a6a0f282",
      "name": "Wait",
      "webhookId": "074bce93-a51e-4125-9081-38c7dc5c8ef8"
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.content }}",
          "status": "draft"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        -992,
        912
      ],
      "id": "3ee7ae97-38b7-4209-a2d7-1e1159bb159c",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "Ykp4YNBY1575yCho",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.video_path }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -944,
        1168
      ],
      "id": "cddfcd11-d7fd-4dfa-a242-3f0f1305f1ba",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "12427ede-fef9-4a50-9fc0-b19fc30e41f1",
              "leftValue": "={{ $json.index }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1472,
        912
      ],
      "id": "40d46957-dac4-4dd0-adb9-b5a3b413c5f4",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/pickpilot_data/{{ $('Code in JavaScript1').first().json.root_fileName }}.mp3",
        "dataPropertyName": "={{ $binary.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1856,
        576
      ],
      "id": "a150f64d-5106-47a5-b7f2-ff42079a8be1",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "jsCode": "// [PickPilot v18.0] 로컬 경로 및 root_fileName 완벽 패키징\nconst input = $input.first().json; \n\n// 1. Summarize에서 합쳐진 로컬 경로(saved_path)와 웹 주소(public_url) 추출\nconst localImages = input.appended_saved_path || [];\nconst webImages = input.appended_public_url || [];\n\n// 2. 이미지 개수 검증 (3장 필수)\nif (localImages.length < 3) {\n  throw new Error(`[공정 중단] 로컬 이미지가 ${localImages.length}장 뿐입니다. Summarize 노드에서 saved_path를 Append 했는지 확인하세요.`);\n}\n\nreturn {\n  json: {\n    asin: input.asin,\n    root_fileName: input.root_fileName, // 오디오 매칭용 이름표\n    product_title: input.product_title,\n    medium_title: input.medium_title,\n    medium_body: input.medium_body,\n    // FFmpeg 합성을 위한 로컬 디스크 경로 강제 할당\n    img1: localImages[0],\n    img2: localImages[1],\n    img3: localImages[2],\n    // 블로그용 웹 주소 별도 보관\n    web_img1: webImages[0],\n    shopmy_url: input.shopmy_url || \"https://shopmy.us/PickPilot\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        1184
      ],
      "id": "83b18f86-03d0-4825-bf89-89acbe1c5a0f",
      "name": "aggreagate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2272,
        704
      ],
      "id": "c79614ea-6c3d-4087-aae0-78625939745c",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3696,
        416
      ],
      "id": "adb66f0a-82a4-49b5-9a02-86f70921d511",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1530f997-d23a-4962-93f7-ac4604b517fa",
              "name": "product.asin",
              "value": "={{ $json.product.asin }}",
              "type": "string"
            },
            {
              "id": "b20dd173-fee6-4caf-9257-1940e8d1e019",
              "name": "product.link",
              "value": "={{ $json.product.link }}",
              "type": "string"
            },
            {
              "id": "90da9c7f-c8f0-42ce-9370-c37d51d5c015",
              "name": "product.title",
              "value": "={{ $json.product.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3344,
        976
      ],
      "id": "70613b9c-931a-46a9-83bb-6263779819ed",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * [PickPilot v13.0] ASIN 기반 자동 다이렉트 링크 & 전환율 최적화 템플릿\n */\nconst input = $input.first().json;\n\nconst title = input.medium_title;\nconst body = input.medium_body;\nconst imageUrl = input.public_url; \nconst asin = input.asin; // JSON에서 ASIN(상품 고유번호) 추출\n\n// 🚨 핵심: ASIN을 이용해 아마존 다이렉트 주소를 코드가 알아서 생성합니다!\n// (추후 공장장님의 아마존 어소시에이트 태그가 있다면 '?tag=내태그-20'을 뒤에 붙이면 됩니다)\nconst directProductUrl = `https://www.amazon.com/dp/${asin}`; \nconst shopMyHubUrl = \"https://shopmy.us/PickPilot\";\n\n// 글을 보기 좋게 문단(p태그)으로 쪼개고 여백 주기\nconst formattedBody = body.split('\\n\\n').map(paragraph => \n  `<p style=\"margin-bottom: 24px; color: #333; font-size: 16px;\">${paragraph.replace(/\\n/g, '<br>')}</p>`\n).join('');\n\nconst htmlContent = `\n<div style=\"max-width: 680px; margin: 0 auto; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; line-height: 1.8;\">\n\n  <figure style=\"margin: 0 0 30px 0; text-align: center;\">\n    <img src=\"${imageUrl}\" alt=\"${title}\" style=\"max-width: 100%; height: auto; border-radius: 12px; box-shadow: 0 4px 20px rgba(0,0,0,0.08);\">\n  </figure>\n\n  <div style=\"background-color: #f8f9fa; border-left: 4px solid #cc0000; padding: 20px 25px; margin-bottom: 35px; border-radius: 0 8px 8px 0;\">\n    <h3 style=\"margin: 0 0 15px 0; font-size: 18px; color: #111;\">💡 Why 3-Stars? (Crucial Flaw)</h3>\n    <ul style=\"margin: 0; padding-left: 20px; color: #444; font-size: 15px;\">\n      <li style=\"margin-bottom: 8px;\"><strong>Pros:</strong> Compact size with full-size suction power.</li>\n      <li style=\"margin-bottom: 8px;\"><strong>Cons:</strong> The hose connection detaches easily during use.</li>\n      <li><strong>Takeaway:</strong> Consider the alternatives below if you need robust attachments.</li>\n    </ul>\n  </div>\n\n  <div style=\"margin-bottom: 40px;\">\n    ${formattedBody}\n  </div>\n  \n  <hr style=\"border: 0; border-top: 1px solid #eaeaea; margin: 40px 0;\">\n\n  <div style=\"display: flex; flex-direction: column; gap: 16px; margin-bottom: 20px;\">\n    \n    <a href=\"${directProductUrl}\" target=\"_blank\"\n       style=\"display: block; background-color: #0f172a; color: #ffffff; padding: 20px; text-decoration: none; border-radius: 12px; font-weight: 700; font-size: 18px; text-align: center; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\">\n        Check Current Price on Amazon\n    </a>\n\n    <a href=\"${shopMyHubUrl}\" target=\"_blank\"\n       style=\"display: block; background-color: #ffffff; color: #475569; padding: 18px; text-decoration: none; border-radius: 12px; font-weight: 600; font-size: 16px; text-align: center; border: 2px solid #e2e8f0; transition: all 0.2s;\">\n        View My 'Better Alternatives' List\n    </a>\n    \n  </div>\n</div>\n`;\n\nreturn {\n  json: {\n    title: title,\n    content: htmlContent,\n    contentFormat: \"html\",\n    publishStatus: \"draft\" // 확인 후 Published로 변경 가능\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        912
      ],
      "id": "3fa9cb9d-ec40-4af8-811c-bc9d06ecb785",
      "name": "html/mk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -624,
        944
      ],
      "id": "99d30ac2-5aaf-4d5f-b0e4-8768037efec7",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "public_url"
            },
            {
              "aggregation": "append",
              "field": "saved_path"
            }
          ]
        },
        "fieldsToSplitBy": "asin, product_title, medium_title, medium_body, shopmy_url, root_fileName",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -1632,
        1184
      ],
      "id": "c604e3aa-0b6e-4932-b497-31a9dce57327",
      "name": "Summarize"
    }
  ],
  "pinData": {},
  "connections": {
    "http robot": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http beauty": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "append earbuds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "append beauty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "append robot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http earbuds": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI TTS1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "savevideo1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        []
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "saveimage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stitch Engine1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "saveimage": {
      "main": [
        [
          {
            "node": "Merge Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Assets": {
      "main": [
        [
          {
            "node": "데이터 보정 키트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL 생성기": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데이터 보정 키트": {
      "main": [
        [
          {
            "node": "Stitch Engine1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "URL 생성기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "YouTube Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "html/mk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Merge Assets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "aggreagate": {
      "main": [
        [
          {
            "node": "savevideo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "OpenAI TTS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html/mk": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Telegram Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Report": {
      "main": [
        []
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "aggreagate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "579b400c-37ab-419b-bbd3-0dfb242c1d4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48ba3487196f017077168688ecfe16d8ae989d9118a43fb001773525c2f7ef34"
  },
  "id": "Io1YTa04EULcNTsc",
  "tags": []
}